<div class="character-list-container">
    <div class="search-container">
      <input type="text" placeholder="Buscar por Nombre" (input)="filterCharacters($event)">
    </div>
  
    <!-- <h3>TOUNSFOLK</h3>
    <div class="characters">
      <div *ngFor="let character of filteredCharacters" class="character-item" (click)="seleccionarPersonaje(character)">
        <img [src]="getIconPath(character.name)" alt="{{ character.nombre }}" class="character-icon">
        <span class="character-name">{{ character.nombre }}</span>
      </div>
    </div>
  </div> -->

  <!-- <div class="characters">
    <div *ngFor="let character of filteredCharacters" 
         class="character-item" 
         [ngClass]="{'character-selected': isSelected(character)}"
         (click)="seleccionarPersonaje(character)">
      <img [src]="getIconPath(character.name)" 
           alt="{{ character.nombre }}" 
           class="character-icon">
      <span class="character-name">{{ character.nombre }}</span>
    </div>
  </div> -->
  
  <div *ngFor="let roleType of objectKeys(personajesAgrupados)" class="role-group">
    <h3>{{ roleTypeTranslations[roleType] || roleType }}</h3>
    <div class="characters">
      <div *ngFor="let character of personajesAgrupados[roleType]" 
           class="character-item" 
           [ngClass]="{'character-selected': isSelected(character)}"
           (click)="seleccionarPersonaje(character)">
        <img [src]="getIconPath(character.name)" 
             alt="{{ character.nombre }}" 
             class="character-icon">
        <span class="character-name">{{ character.nombre }}</span>
      </div>
    </div>
  </div>
</div>

  <div class="actions">
    <button (click)="clearSelection()">CLEAR</button>
    <button (click)="randomizeSelection()">RANDOMIZE</button>
  </div>