.character-list-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 500px; /* Altura máxima antes de usar scroll */
    overflow-y: auto; /* Scroll vertical si es necesario */
  
    .search-container {
      padding: 0.5rem;
      background: #ececec;
      input {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
      }
    }
    
    h3 { /* Estilo para el título de la categoría */
      font-family: "Dumbledor";
      font-size: 14px;
      color: #b89647;
      text-transform: capitalize;
      border: 1px solid rgba(0,0,0,0);
      //padding: 10px 0;
      margin: 3px 0px 3px;
      text-transform: uppercase;
      border: 1px;
      border-style: solid;
      text-align: center;
    }
    
    .characters {
      .character-item {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        transition: background-color 0.3s;
        &:hover {
          background-color: #f4f4f4;
        }
        .character-icon { /* Estilos para el icono del personaje */
          width: 32px;
          height: 32px;
          margin-right: 10px;
        }
        .character-name { /* Estilos para el nombre del personaje */
          font-weight: bold;
          font-family: "Trade Gothic LT Std";
          color: rgb(92, 31, 34);
        }

      }
    }
  }
  .character-selected {
    background-color: #c1d4dd; /* Un gris claro, ajusta el color según tu diseño */
    color: #777;
  }
  .actions {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }


  .tooltip {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    //display: none; /* Inicialmente oculto */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }

  
  .role-type-filters {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    margin-top: 15px;
    //font-family: "Trade Gothic LT Std", sans-serif; // Añadí una fuente de respaldo
    //color: orange; // Asegúrate de que esta variable de color esté definida
    font-size: 20px;
    font-weight: 700;
    font-family: Trade Gothic LT Std;
    color: #5c1f22;
}
  