<!-- Filtros de RoleType -->
<div class="role-type-filters">
  <label>
    <input type="radio" name="roleTypeFilter" (change)="filterByRoleType('all')" checked>
    Todos
  </label>
  <label *ngFor="let roleType of objectKeys(roleTypeTranslations)">
    <input type="radio" name="roleTypeFilter" (change)="filterByRoleType(roleType)">
    {{ roleTypeTranslations[roleType] }}
  </label>
</div>

<div class="character-list-container">

  <div class="search-container">
    <input type="text" placeholder="Buscar por Nombre (Español o Inglés)" (input)="filterCharacters($event)">
  </div>
</div>

<div class="character-list-container">
  <div *ngFor="let roleType of objectKeys(personajesAgrupados)" class="role-group">
    <h3>{{ roleTypeTranslations[roleType] || roleType }}</h3>
    <div class="characters">
      <div *ngFor="let character of personajesAgrupados[roleType]" 
           class="character-item" 
           [ngClass]="{'character-selected': isSelected(character)}"
           (click)="seleccionarPersonaje(character)"
           (mouseenter)="showTooltip(character, $event)"
            (mouseleave)="hideTooltip()">
        <img [src]="getIconPath(character.name)" 
             alt="{{ character.nombre }}" 
             class="character-icon">
        <span class="character-name">{{ character.nombre }}</span>
      </div>
    </div>
  </div>
</div>

  <div class="actions">
    <button (click)="clearSelection()">CLEAR</button>
    <button (click)="randomizeSelection()">RANDOMIZE</button>
  </div>

  <div>
    
  </div>

  <!-- Tooltip Container -->
<div class="tooltip" *ngIf="tooltipVisible" [style.top]="tooltipPosition.y" [style.left]="tooltipPosition.x">
  {{ tooltipContent }}
</div>
