<!-- Este será el layout principal de tu aplicación -->
<div class="app-layout">
  <!-- Sidebar Izquierda: Filtros y Lista de Personajes -->
  <aside class="sidebar-left">
    <app-filters></app-filters> <!-- Componente de filtros -->
    <app-character-list></app-character-list> <!-- Componente de lista de personajes -->
  </aside>

  <!-- Área Central: Folio -->
  <main class="folio">
    <app-folio></app-folio> <!-- Componente del folio -->
  </main>

  <!-- Sidebar Derecha: Botones -->
  <aside class="sidebar-right">
    <app-side-buttons></app-side-buttons> <!-- Componente para botones laterales -->
  </aside>
</div>


<!-- <div class="app-container">
  <div class="sidebar-container">
    <app-personajes (personajeSeleccionado)="manejarSeleccion($event)"></app-personajes>
    
  </div> -->

  <!-- <div class="content-container">
    <app-folio></app-folio>

    <div class="header-container">
      <div class="script-editable">
        <span class="script-name">{{ scriptName }}</span>
        <span class="by"> por </span>
        <span class="author-name">{{ author }}</span>
        <button class="edit-button" (click)="editarCabecera()">
          ✏️
        </button>
      </div>

    </div>
    
    <div class="canvas-container">
      <canvas #folioCanvas id="folioCanvas" width="595" height="842"></canvas>

    </div>

    <div class="floating-buttons">
      <button (click)="descargarPDF()">Guardar como PDF</button>
   
    </div>
  </div>
</div> -->