<!-- <div class="zoom-icon" (click)="toggleZoom()">
  <button>🔎Zoom</button>
</div> -->

  <div id="folio" class="folio-container">
    <!-- ... otras partes del folio ... -->
    <div class="script-header">
      <input type="text" placeholder="Nombre del Guión" class="script-name-input" />
      <input type="text" placeholder="Autor" class="author-input" />
    </div>

    <div class="section outsiders">
      <div class="line-container">
        <div class="line-before"></div>
        <div class="line-after"></div>
        <div class="label-tag">ALDEANOS</div>
      </div>
      
      <div *ngFor="let character of townsfolk" class="character-row" (click)="removeCharacter(character)">
        <div class="character-icon">
          <img [src]="getIconPath(character.name)" alt="{{ character.nombre }}" class="character-icon">
        </div>
        <div class="character-name">
          {{ character.nombre }}
        </div>
        <div class="character-description">
          {{ character.description }}
        </div>
      </div>
    </div>

    <div class="section outsiders">
      <div class="line-container">
        <div class="line-before"></div>
        <div class="line-after"></div>
        <div class="label-tag">FORASTEROS</div>
      </div>
      <div *ngFor="let character of outsiders" class="character-row" (click)="removeCharacter(character)">
        <div class="character-icon">
          <img [src]="getIconPath(character.name)" alt="{{ character.nombre }}" class="character-icon">
        </div>
        <div class="character-name">
          {{ character.nombre }}
        </div>
        <div class="character-description">
          {{ character.description }}
        </div>
      </div>
    </div>

    <div class="section minions">
      <div class="line-container">
        <div class="line-before"></div>
        <div class="line-after"></div>
        <div class="label-tag">ESBIRROS</div>
      </div>
      <div *ngFor="let character of minions" class="character-row" (click)="removeCharacter(character)">
        <div class="character-icon">
          <img [src]="getIconPath(character.name)" alt="{{ character.nombre }}" class="character-icon">
        </div>
        <div class="character-name">
          {{ character.nombre }}
        </div>
        <div class="character-description">
          {{ character.description }}
        </div>
      </div>
    </div>

    <div class="section demons">
      <div class="line-container">
        <div class="line-before"></div>
        <div class="line-after"></div>
        <div class="label-tag">DEMONIOS</div>
      </div>
      <div *ngFor="let character of demons" class="character-row" (click)="removeCharacter(character)">
        <div class="character-icon">
          <img [src]="getIconPath(character.name)" alt="{{ character.nombre }}" class="character-icon">
        </div>
        <div class="character-name">
          {{ character.nombre }}
        </div>
        <div class="character-description">
          {{ character.description }}
        </div>
      </div>
    </div>