.filters-container {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    font-family: Dumbledor;
    font-size: 10pt;
    text-transform: uppercase;
    margin: 0px;
    color: var(--botc-colour-cream-stark-white);
    cursor: pointer;
  }
  